body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h3 {
  color: #333;
}

.poll {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #f9f9f9;
}

.vote-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  min-width: 4rem;
}

.vote-button:hover {
  background-color: #218838;
}

.vote-count {
  font-weight: bold;
  margin-left: 10px;
}
